@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-white text-darkText font-body;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

